.searchform {
    position: relative;
    box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
    padding: 18px 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #eeaed9;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

button {
    height: 60px;
    border-radius: 20px;
    border: none;
    font-weight: 400;
    font-size: 22px;
    background-color: #c104da;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 30px;
}

.button:hover {
    background-color: #650672;
}

.search {
    flex: 1;
    padding: 22px;
    border: 3px solid #c104da;
    border-radius: 20px;
    font-size: 18px;
    color: #650672;
}

@media (max-width: 1024px) {
    .contawrapperiner {
        flex-direction: column;
    }

    .button {
        height: 45px;
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .contawrapperiner {
        gap: 20px;
    }
}