.header {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
    padding: 28px 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #c104da;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.blockicons {
    display: flex;
    gap: 10px;
    align-items: center;
    vertical-align: middle;
}

.anyblock {
    max-width: 70px;
}

.texticon {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}

.texticon:hover {
    color: rgb(87, 15, 81);
}

.texticon:active {
    font-weight: 700;
    transform: scale(1.3);
}

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        gap: 20px;
    }
}